<div class="col-centro" id='DVcolegios'>
    <div id="operativo">
        <form action="/resultados" method="post" id="FRoperativo">
            {{>page/informesaida}}
            {{>page/resultado}}
            {{>page/botones}}
        </form>
    </div>
</div>