  <div class="col-centro" id='DVcolegios'>
    <div id="operativo">
        <form action="/nuevo" method="post" id="FRoperativo">
        {{>page/nuevo}}
        {{>page/botones}}
  </form>
    </div>
</div>