<div class="col-centro" id='DVcolegios'>
    <table>
        <caption>Resultados</caption>
        <thead>
            <tr>
                <th rowspan="3">Orden</th>
                <th colspan="2">Detenidos</th>
                <th colspan="10">Sustamcias</th>
                <th colspan="10">Decomisos</th>
            </tr>
            <tr>
                <th rowspan="2">H</th>
                <th rowspan="2">M</th>
                <th colspan="2">Cocaina</th>
                <th colspan="2">Marihuana</th>
                <th colspan="2">Crack</th>
                <th colspan="2">Heroína</th>
                <th colspan="2">Hachis</th>
                <th colspan="2">Armas</th>
                <th colspan="3">Vehiculos</th>
                <th colspan="3">Dinero</th>
                <th colspan="2">Otros</th>
            </tr>
            <tr>
                <td>Pors</td>
                <td>Grs.</td>
                <td>Pors</td>
                <td>Grs.</td>
                <td>Pors</td>
                <td>Grs.</td>
                <td>Pors</td>
                <td>Grs.</td>
                <td>Pors</td>
                <td>Grs.</td>
                <td>Fuego</td>
                <td>Blanca</td>
                <td>Motor</td>
                <td>Carros</td>
                <td>Jeppeta</td>
                <td>RD$</td>
                <td>US$</td>
                <td>EU$</td>
                <td>Cel.</td>
                <td>Balnz.</td>
            </tr>

        </thead>
        <tbody id='tresultado'>
            
                
        </tbody>
    </table>
    <div id="listados" class="estadisticas  aside">

    </div>
</div>