<div id="salida">
    <div class="electores">
        <div>
            <label for="ITorden">Orden:</label>
            <input type="text" name="orden" id="ITorden" required>
        </div>
        <div class="electores">
            <div>
                <label for="ITfecha">Fecha:</label>
                <input type="date" name="fsalidad" id="ITfecha" required>
            </div>

            <div>
                <label for="ITsalidad">Hora de salida:</label>
                <input type="time" name="salidad" id="ITsalidad" required>
            </div>


        </div>
        <div>
            <label for="SLactividades">actividad:</label>
            <select name="actividad" id="SLactividades" required>
                <option value="">Seleccione actividad</option>
            </select>
        </div>
    </div>
    <div class="electores">

        <div>
            <label for="SLdivisiones">Division:</label>
            <select name="division" id="SLdivisiones" class="Slcambios" required>
                <option value="">Seleccione División</option>
            </select></div>
        <div>
            <label for="SLinspectoria">Inspectorias</label>
            <select name="inspectoria" id="SLinspectoria" class="Slcambios" required>
                <option value="">Seleccione inspectoria</option>
            </select></div>
    </div>
    <div class="electores">
        <div>
            <label for="SLseccion">seccion:</label>
            <select name="seccion" id="SLseccion" required>
                <option value="">Seleccione Sección</option>
            </select></div>
        <div></div>
    </div>
    <div class="electores">
        <div>
            <label for="SLprovincias">Provincia:</label>
            <select name="provincia" id="SLprovincias" class="Slcambios" required>
                <option value="">Seleccione Provincia</option>
            </select>
        </div>
        <div>
            <label for="SLmunicipio">Municipio:</label>
            <select name="municipio" id="SLmunicipio" class="Slcambios" required>
                <option value="">Seleccione Municipio</option>
            </select>
        </div>
    </div>

    <div class="electores">
        <div>
            <fieldset>
                <legend>Barrios:</legend>
                <div class="formulario barrio" id="barrio">

                </div>

            </fieldset>
        </div>
    </div>
    <div class="electores">
        <div><label for="TinfomadoS">Informado Por:</label>
            <input type="text" name="informacionsalida" id="TinfomadoS" required>
        </div>
    </div>
    
    <input type="hidden" name="longitud" id="ITlongitud" required>
    <input type="hidden" name="latitud" id='ITlatitud' required>


</div>